.information {
  display: flex;
  justify-content: space-evenly;
}
.material {
  width: 35%
}
.materials-list {
  width: 50%;
}
.search-box {
  margin-bottom: 30px;
}
.materials-line {
  cursor: pointer;
}
.table td {
  width: 33.33%;
}
.table th {
  width: 33.33%;
}
.btn-top {
  display: flex;
  justify-content: space-between;
}
.itemsAmount {
  width: 50px;
  height: 30px;
  -moz-appearance: textfield;
  appearance: textfield;
}
.itemsAmount::-webkit-inner-spin-button,
.itemsAmount::-webkit-outer-spin-button {
  display: none;
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.itemsPerPage {
  display: flex;
  gap: 10px;
  align-items: center;
}